# Git
.git
.gitignore

# Node
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.test
frontend/.env.production
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE
.idea
.vscode
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
tmp/
temp/ 